
* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Vertikaalinen keskittäminen */
.v-center {
  position: absolute;
  transform: translateY(-50%);
  top: 50%
}

/* Horisontaalinen oikea tasaus */
.h-right {
  position: absolute;
  right: 0;
}


/* Navbar */

.navbar {
  background: transparent;
  width: auto;
  transition: background-color 0.5s ease-in-out;
}
.navbarScroll.navbarDark {
  background-color: rgba(0,0,0,.8);
}


/* Navbarin linkkien tyylit */

.navbar-brand {
  text-decoration: none;
  
}

a.navbar-brand p {
  margin-top: 10px;
  margin-left: 40px;
  color:rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}
a.navbar-brand p:hover {
  color:rgb(237, 238, 243);
}

a.navbar-brand:link {
  font-size: 25px;
}

.nav-link {
  color:rgb(191, 189, 189);
  text-decoration: none;
  margin-right: 70px;
}

a.nav-link:link {
  color:rgb(191, 189, 189);
  font-size: 20px;
}
a.nav-link:hover {
  color:rgb(255, 255, 255);
}


/* Hamburger menu color */

.navbar-toggler {
  background: rgb(52, 63, 82);
  
}
.navbar-toggler:hover {
  background-color: #212033;
  color: black;
}

/* Navbarin linkkien efektit */

a.nav-link {
  background-image: linear-gradient(
    to right,
    #ff006a,
    #49d8ff 50%,
    rgb(237, 238, 243) 50% );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}


a.nav-link:before {
  content: '';
  background: #49d8ff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before {
  width:100%;
}


/* Etusivun taustakuva */

.bgShowcase {
    width: 100%;
    height:100vh;
    background: url(bg2.jpg);
    background-size:cover;
    position:relative;
    padding-bottom: 1;
}

.social-icon {
  color:rgb(196, 196, 196);
  transition: color 0.2s;
  text-decoration: none;
  font-size: 35px;
}

.social-icon:hover {
  color:rgb(52, 63, 82);
}

/* Showcase tyylit */

.hero_otsikko {
    font-size: 3.5rem;
}
.hero_kuvaus {
    font-size: 1.7rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

/* About section kuva css */

.aboutSivuKuva {
  width: 75%;
  height: 100%;
  border-radius: 8px;
}

/* About section tyylit */

.about {
  background-color:rgb(255, 255, 255);
  margin: 0;
  padding-top: 80px;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));;
  gap: 20px;
  height: 200px;
  align-items: stretch;
  border-radius: 8px;
}

/* Skillsec tyylit */

.skillSec {
  padding-top: 100px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.skillSec h4 {
  font-size: 1.5em;
}
.skillSec p {
  font-size: 1.2em;
}

/* Contact section tyylit */

.contact {
  padding-top: 70px;
}

.bgContact {
  justify-content: center;
  display: flex;
  margin: auto;
  height: 75vh;
  width: 65%;
  background: url("businessman.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  border-radius: 10px;
}

.cover {
  border-radius: 10px;
  justify-content: center;
  display: flex;
  margin: auto;
  width: 100%;
  height: 75vh;
  background: rgba(5, 8, 44, 0.8)
  
}

.contact-me h2, p {
  color: #fff;
}
.contact-me #text {
  color: #c7c7c7;
  font-size: 1.2em;
}

.contact {
  width: 100%;
  height: 100vh;
}

.address {
  margin-top: 14px;
  margin-left: 15px;
  text-align: left;
}

.address span {
  color: #c7c7c7;
}

.icons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center
}

.icons i {
  font-size: 20px
}

/* Footer tyylit */

footer {
  background-image: url(bg2.jpg);
  background-size: cover;
  color: #fff;
  padding: 20px;
  text-align: center;
}
footer a {
  color: #c7c7c7;
  font-size: 0.9rem;
}
